body{
    padding: 70px;
}

#content > nav > div > div.navbar-header > a > img{
    margin-top: -10px;
    margin-bottom: 10px;
}

#content > div.low-button-group{
    margin-bottom: 5px;
}

td.details-control {
    background: url('/image/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/image/details_close.png') no-repeat center center;
}