<ul class="list-group">
    <!--해당 객체를 출력하라고 할 때 자동으로 동작하는 함수가 Model의 __str__(self)이다.-->
    <table class="table table-hover table-inverse" id="data_table_ajax" style="width:100%">
        <thead>
        <tr>
            <th style="width:30px">순위</th>
            <th style="width:30px">등락</th>
            <th>제목</th>
            <th>ISBN</th>
            <th>저자</th>
            <th>출판사</th>
            <th style="width:50px">가격</th>
            <th style="width:50px">독자 반응</th>
            <th style="width:50px">판매지수</th>
            <th style="width:50px">책 출간일</th>
            <th>카테고리</th>
        </tr>
    </table>
</ul>