<ul class="list-group">
    <!--해당 객체를 출력하라고 할 때 자동으로 동작하는 함수가 Model의 __str__(self)이다.-->
    <table class="table table-hover table-inverse" id="data_table">
        <thead>
        <tr>
            <th>순위</th>
            <th>등락</th>
            <th>제목</th>
            <th>ISBN</th>
            <th>저자</th>
            <th>출판사</th>
            <th>가격</th>
            <th>독자 반응</th>
            <th>판매지수</th>
            <th>책 출간일</th>
            <th>카테고리</th>
        </tr>
        </thead>
        <tbody>
        {% for item in books %}
        <tr>
            <th scope="row">{{ item.rank }}</th>
            <td>{{ item.rankRiseAndFall }}</td>
            <td>{{ item.book.title }}</td>
            <td>{{ item.book.isbn }}</td>
            <td>{{ item.book.author }}</td>
            <td>{{ item.book.publisher }}</td>
            <td>{{ item.book.price }}</td>
            <td>{{ item.reviewCount }}</td>
            <td>{{ item.sellingPoint }}</td>
            <td>{{ item.book.pubDate }}</td>
            <td>{{ item.book.category}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</ul>